<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item"><a href="/dashboard">Dashboard</a></li>
    <li class="navbar-item"><a href="/jobs/tiktok/live">Live</a></li>
    <li class="navbar-item"><a href="/admin/queues">Job Manager</a></li>
    <li class="navbar-item"><a href="/jobs/import">Import</a></li>
  </ul>
</nav>
<style>
  
  /* styles.css */
  .navbar {
      background-color: #FFD700;
      color: #008000;
      padding: 10px 0;
      margin-bottom: 10px;
  }

  .navbar-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
  }

  .navbar-item {
      margin: 0;
      padding: 0;
  }

  .navbar-item a {
      text-decoration: none;
      color: #008000;
      font-weight: bold;
      transition: color 0.3s;
  }

  .navbar-item a:hover {
      color: red;
  }

</style>